
/* ntn-child() */
body{
  width: 100%;
  height: 100%;
  line-height: 1;
  /* background-color: #000; */
  font-size: 15px;
  font-family: var(--text-font-family);
  background-color: black;
}
a{
  text-decoration: none;
}
*{margin: 0;
padding: 0;
}
*,*::after,*::before{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
:root{
  --text-font-family: 'ABeeZee', sans-serif;
  --bold-font-family: 'Inter', sans-serif;
}

/* header*/
.header{
  width:100%;
  max-width: 1280px;
  margin: 0 80px;
  position: absolute;
  z-index: 1000;
  padding-top: 29px;
}
.header__nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  display: flex;
  align-items:center;
}
/* .header__icon{

} */

.header__title{
  font-family: var(--bold-font-family);
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  padding-left: 10px;
}
.nav__list{
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-between;
  gap: 40px;
}
.nav__link{
  color: #fff;
}
.header__btn-login{
  border: 0;
  font-size: 18px;
  background: 0;
  margin-right: 40px;
  color: #fff;
  cursor: pointer;
}
.header__btn-register{
  padding: 12px 32px;
  font-size: 18px;
  border: 0;
  border-radius: 40px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}

/* Section hero */
.section{
  width: 1440px;
  height: 900px;
  margin: 0 auto;
}
.section--hero{
  background: url(../img/hero/Ornament.svg) no-repeat center;
}
.hero{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.2;
  position: relative;
  padding-bottom: 200px;

}
.hero__title{
  font-size: 62px;
  font-weight: 700;
  color: white;
  font-family: var(--bold-font-family);
  text-transform: uppercase;
}
.hero__text{
  color:#8B8B8B;
  font-size: 18px;
  padding: 24px 0 40px 0;
}
.hero__link{
  padding: 13px 32px;
  background-color:#A8FF35;
  border: 0;
  border-radius:40px;
  margin: 0 auto;
  font-size: 18px;
  color: black;
}
.img__hero{
  position: absolute;
  height: auto;
  right: 20%;
  top: 50%;
}



.soc__media{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.btn__cos__item{
  position: absolute;
  display: flex;
  align-items:center;
  overflow: hidden;
  width: 350px;
  /* flex: 1 1 0; */
  background-color: #181818;
  box-shadow: 20px 10px 40px black;
  top: 0;
  left: 0;
}
.btn__cos__item.twit{
  top: 100px;
  left: -30%;
  transform: rotate(-4deg);
  z-index: 20;
}
.btn__cos__item.pint {
  top: 170px;
  left: 0%;
  width: 360px;
  overflow: hidden;
  transform: rotate(3deg);
  z-index: 15;
}
.btn__cos__item.face {
  top: 100px;
  left: 40%;
  width: 360px;
  transform: rotate(-3deg);
  z-index: 12;
}
.btn__cos__item.ball {
  top: 170px;
  left: 80%;
  transform: rotate(6deg);
}
.soc__link{
  font-size: 24px;
  color: white;
  /* padding-right: 20px; */
  white-space: nowrap;
}
.soc__icon{
  padding: 27px 10px 27px 41px;
}
.soc__closer{
  margin-left: -50px;
  /* filter: blur(1px); */
  width: 120px;
  height: 100px;
  /* border-radius: 40px; */
  position: relative;
  z-index: 10;
  background: linear-gradient(270deg, #181818 53.65%, rgba(24, 24, 24, 0.8) 100%);
}
.soc__closer.pint{
  /* margin-left: -70px; */
}
.closer__one{
  content: "";
  display: inline-block;
  width: 25px;
  height: 3px;
  position: absolute;
  background-color: white;
  /* margin: 0 auto; */
  transform: rotate(45deg);
  right: 30%;
  top: 50%;
}
.closer__two {
  content: "";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 0;
  transform: rotate(-45deg);
  right: 30%;
  top: 50%;
}


/* open tab */
.section--opentab{
  height: auto;
  background-color: #A8FF35;
}
.container--opentab{
  text-align: center;
  background: #A8FF35;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 742px;
  position: relative;
  margin: 0 auto;

}
.opentab__title{
  font-size: 62px;
  font-weight: 700;
  font-family: var(--bold-font-family);
  color: black;
}
.opentab__text{
  font-size: 18px;
  font-family: var(--text-font-family);
  font-weight: 400;
  margin: 0 250px;
  line-height: 1.6;
}
.btn__cos__item.findtrend{
  position: static;
  align-items: center;
  overflow: hidden;
  width: 350px;
  background-color: #030303;
  box-shadow:none;
  margin: 60px 80px;
}
.soc__closer.findtrend{
  width: 70px;
  height: 100px;  
  margin-left: -50px;
  background: linear-gradient(270deg, #030303 53.65%, rgba(3, 3, 3, 0.6) 100%);
}
.opentab{
  background-color: white;
  border-radius: 16px;
  margin: 60px 0;
}
.opentab::before{
  content: "";
  display: block;
  background: url(../img/hero/opentab1.svg) no-repeat center;
  width: 100px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}
.opentab::after {
  content: "";
  display: block;
  background: url(../img/hero/opentab2.svg) no-repeat center;
  width: 100px;
  height: 70px;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}

/* longtet section */
.section--longtext{
  height: auto;
  background-color: #fff;
}
.section--platform{
  background-color: #fff;
  height: auto;
}
.container__main{
  width: auto;
  height: auto;
  background-color: white;
  margin: 0 140px;
}
.longtext__title{
  display: inline-block;
  width: 100%;
  max-width: 1160px;
  height: auto;
  padding: 140px 0;
  line-height: 1.2;
}
.longtext__text{
  display: inline;
  font-size: 50px;
  font-weight: 700;
  width: inherit;
  height: auto;
  font-family: var(--bold-font-family);
  color: black;
}
.longtext__subtext{
  display: inline;
  color: #ADADAD;
  width: inherit;
  height: auto;
  font-size: 50px;
  font-weight: 700;
}

/* brands */
.section--partner{
  background-color: #fff;
}
.partner{
  /* padding: 140px 140px; */
  /* text-align: center; */
}
.parthner__title{
  font-size: 50px;
  text-align: center;
  font-family: var(--bold-font-family);
}
.partner__brands{
  /* width: auto; */
}
.brands__col{
  display: flex;
  padding-top: 32px;
  /* flex-direction:column; */
  justify-content: space-between;
}
.brands__col:first-child{
  margin-top: 100px;
}
.brands__item{
  background-color: #F5F5F5;
  border-radius:8px;
  width: 266px;
  height: 120px;
  display: flex;
  justify-content: center;
}
.brands__item img{
  height: auto;
  width: 60%;
}


/* platform */

.section--platform{
  background-color: #F5F5F5;
}
.container__main--platform{
  background-color: #F5F5F5;
  padding-bottom: 140px;
}
.platform__title{
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: var(--bold-font-family);
  width: auto;
  padding: 140px 0 80px;
}
.platform{
  display: flex;
  justify-content: space-between;
}
.platform__item{
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  transition: background-color .1s linear;
  cursor: pointer;
}
.platform__item img{
  height: 60px;
  width: 60px;
}
.platform__item:hover{
  background-color: #A8FF35;
}
.platform__item.active{
  background-color: #A8FF35;
}
.twitt{
  margin: 75px 180px 0;
  padding-bottom: 80px;
}
.twitt img{
  padding-top: 50px;
}
.twitt img:first-child{
  padding-top: 0;
}
.btn__platform{
  padding: 16px 32px;
  border-radius:40px;
  background-color: #030303;
  color: #fff;
  font-weight: 700;
  font-family: var(--bold-font-family);
  font-size: 18px;
  transition: font-size .1s linear;
}
.btn__platform:hover{
  font-size: 20px;
}
.btn{
  text-align: center;
}

/* deal */
.section--deal{
  background-color: black;
  height: auto;
}
.container--deal{
  background-color: black;
}
.deal__title{
  font-size: 50px;
  font-weight: 700;
  font-family: var(--bold-font-family);
  color: #fff;
  padding: 140px 0 40px;
  text-align: center;
}
.month{
  display: flex;
  justify-content: center;
  align-items:center;
}
.deal__text, .month .radio__btn{
  font-size: 24px;
  color: white;
  margin-left: 24px;
  font-weight: 500;
}
.deal__text{
  opacity: 0.5;
  transition: opacity 0.1s linear;
}
.deal__text:first-child{
  margin-left: 0;
}
.month img{
  padding-left: 24px;
}
.radio__btn{
  position: relative;
  cursor: pointer;
}
.form{
  display: block;
  content: "";
  width: 104px;
  height: 52px;
  background-color: white;
  border-radius: 99px;
}
.circle{
  position: absolute;
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #A8FF35;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: transform .1s linear;
}
.radio__btn:active .circle{
  transform: translate(130%, -50%);
}
.radio__btn:hover .circle {
  transform: translate(130%, -50%);
}
.radio__btn:focus .circle {
  transform: translate(130%, -50%);
}
.deal__text.active{
  opacity: 1;
}
.deal{
  margin: 40px 0 0;
  display: flex;
  justify-content: space-between;
}
.deal__item{
  background-color: #FAFAFA;
  border-radius:16px;
  width: 100%;
  height: 640px;
  padding:32px 32px;
  line-height: 1.2;
  color: black;
  position: relative;
  margin-left: 32px;
  transition: 0.1s linear;
}
.deal__item:first-child{
  margin-left: 0;
}
.deal__item:hover .btn__deal{
  background-color: black;
  color: white;
}
.deal__item:hover{
  background-color: #A8FF35;
}
.deal__name{
  font-size: 36px;
  font-weight: 400;
  font-family: var(--text-font-family);
}
.deal__subname{
  font-size: 18px;
  border-bottom: 1px solid black;
  padding-bottom: 32px;
}
.price{
  margin: 32px 0;
}
.deal__price{
  display: inline-block;
  font-size: 60px;
  font-family: var(--bold-font-family);
  font-weight: 700;
  padding-bottom: 32px;
}
.deal__subprice{
  display: inline-block;
  font-weight: 18px;
  font-weight: 400;
}
.deal__pluse{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-left: 20px;
  position: relative;
}
.deal__pluse:last-child{
  margin-bottom: 60px;
}
.deal__pluse::before{
  content: "";
  display: block;
  background-image: url(../img/platforms/pluse.svg);
  width: 14px;
  height: 9px;
  left: -20px;
  top: 20%;
  position: absolute;
}
.btn__deal{
  background-color: #A8FF35;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--bold-font-family);
  text-align: center;
  padding: 17px 88px;
  border-radius:29px;
  color: black;
  position: absolute;
  bottom: 24px;
}


/* Join us */
.section--join{
  height: auto;
}
.container--join{
  background-color: #A8FF35;
  margin-top: 140px;
  text-align: center;
  width: 100%;
  /* height: auto; */
  margin-left: 0;
}
.join__text{
  text-align: center;
  font-size: 64px;
  color: #030303;
  font-weight: 700;
  font-family: var(--bold-font-family);
  padding: 140px 0 0;
  line-height: 1.2;
}
.join__text__pre{
  font-size: 64px;
  color: #030303;
  font-weight: 700;
  font-family: var(--bold-font-family);
  opacity: 0.5;
  padding-bottom: 40px;
}
.btn__join{
  width: 100%;
  padding: 16px 32px;
  border-radius:40px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: #030303;
  transition: .1s linear;
}
.join__btn{
  padding-bottom: 140px;
}
.btn__join:hover{
  background-color: #333;
}

/* footer */

.section--footer{
  height: auto;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
  align-items: center;
  margin: 0;
  position: relative;
}
.container--footer{
  background-color: #fff;
  color: black;
  height: auto;
  width: 100%;
  margin: 0;
}
.logo__img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.footer__title{
  font-size: 24px;
  font-weight: 700;
  font-family: var(--bold-font-family);
  color: black;
  margin-left: 50px;
}
.link__item{
  font-size: 18px;
  font-weight: 700;
  font-family: var(--bold-font-family);
  margin-left: 40px;
  color: black;

}
.link__item:first-child{
  margin-left: 0;
}